aiohttp==3.8.3
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
CacheControl==0.12.11
cachetools==5.2.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
crypto==1.4.1
discord.py==2.0.1
Flask==2.0.2
frozenlist==1.3.1
grpcio==1.48.1
grpcio-status==1.48.1
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
mailjet==1.4.1
mailjet-rest==1.3.4
MarkupSafe==2.0.1
msgpack==1.0.4
multidict==6.0.2
Naked==0.1.31
proto-plus==1.22.1
protobuf==4.21.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.11.0
pymongo==4.2.0
pyparsing==3.0.9
PyYAML==6.0
requests==2.27.0
rsa==4.9
shellescape==3.8.1
six==1.16.0
soupsieve==2.3.2.post1
uritemplate==4.1.1
urllib3==1.26.7
Werkzeug==2.0.2
yarl==1.8.1
